@import "_base"
@import "_util/mixin"
@import "_util/grid"
input, button
  margin: 0
  padding: 0

html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  margin: 0

h1, h2, h3, h4, h5, h6
    color: #292929;
    font-weight: bold;
    margin:0;

ol, ul, dl
  margin-top: 0;
  margin-bottom: 1rem;

a
  color: #5FCB71
  text-decoration: none
  background-color: transparent
hr
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

.text-center
    text-align: center !important

.nav-icon
    font-family: FontAwesome;
    text-align: center;
    position: relative;
    cursor: pointer;


@import "_partial/header"
@import "_partial/wrap"
@import "_partial/footer"